.playlist_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));

}

.song_container {
    border:2px solid #800080;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}
