[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "==18.9b0"

[packages]
plotly = "*"
dash = "*"
requests = "*"
python-dotenv = "*"
spotipy = "*"
Flask-Caching = "*"
numpy = "*"
jupyterlab = "*"
jupyter-lsp = "*"
python-language-server = {extras = ["all"],version = "*"}
wordcloud = "*"
matplotlib = "*"
pandas = "*"
pillow = "*"
pyarrow = "*"
tqdm = "*"

[requires]
python_version = "3.8"
